@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&family=Thasadith:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
