/* section one */

.section-one {
  background-color: rgb(249, 249, 247);
  height: 535px;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}

.teamwork-img{
  padding-top: 60px;
  display: flex;
  align-self: center;
  padding-bottom: 30px;
}

/* section two */

.section-two {
  background-color: rgba(255, 176, 119, 0.4);
  height: 500px;
  margin-top: 20px;
  flex-direction: column;
}

.home-h4 {
  color:rgb(59, 58, 58);
  display: flex;
  justify-content: center;
  padding-top: 20px; 
  padding-bottom: 20px; 
  background-color: rgba(255, 176, 119, 0.4);
  transform: skew(9deg, 0deg);
}


