.cards {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 200px;
  text-align: center;
  align-items: center;
  margin-right: 20px;
  margin-top: 35px;
  margin-bottom: 18px;
  padding-top: 20px;

  color:rgb(59, 58, 58);

}

  



